html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family:'Times New Roman', Times, serif, monospace;
    font-size: 1vh;
}

main {
    margin: 0;
    padding: 10px;
    height: auto;
    width: 100%;
}

body > main h2 {
    font-size: 3em;
}

p {
    font-size: 1.75em;
    text-align: justify;
}

p > a {
    font-size: 1.75em;
}

blockquote {
    font-size: 1.5em;
}

body > main > article {
    margin: auto;
    width: 70%;
}

form {
    margin: 1vw;
    padding: 2vw;
}

.main-content-headers {
    font-size: 1.75em;
}

.navbutton{
    color: white;
    text-decoration: none;
    padding: 12px;
    font-size: 2em;
}

.list-ul > li {
    list-style: none;
    font-size: 2em
}

#body-header {
    display: flex;
    background-color: black;
    color: white;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    position:fixed;
}

#body-header #header-logo {
    font-size: 2em;
}

#body-header #nav-ul {
    display: flex;
    list-style: none;
}

#body-header #nav-ul > li {
    justify-content: space-around;
    padding: 8px;
}

#body-main{
    display: flex;
    background-color: rgb(100,100,100);
    color: white;
}

#body-main-div {
    width: 70%;
    margin:auto;
}

#body-footer {
    background-color: black;
    color: white;
}

#body-footer-div {
    display: flex;
}

#footer-logo {
    margin: 2vw;
    font-size: 3em;
    justify-content: space-around;
}

#form-div {
    display: flex;
}

#form {
    margin: 10px;
    justify-items: right;
    max-width: 10%;
    font-size: 1.5em;
}

#form > h2 {
    font-size: 1.25em;
    text-align: justify;
}

#disclaimer {
    width: 80%;
    margin:auto;
    text-align: center;
}

#disclaimer > h2 {
    font-size: 2em;
}

#disclaimer > p {
    text-align: center;
    font-size: 1.5em;
}