html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family:'Times New Roman', Times, serif, monospace;
}

header {
    display: flex;
    background-color: black;
    color: white;
    top: 0;
    left: 0;
    min-width: fit-content;
    width: 100%;
    height: 10%;
    align-content: center;
    position:fixed;
}

header img {
    height: 5vh;
}

main {
    display: flex;
    margin-top: 0%;
    padding: 0%;
    padding-top: 5vh;
    height: fit-content;
    max-width: 100%;
    background-color: #f2f2f2;
    color: black;
}

main h1 {
    font-size: 2em;
}

main > div {
    width: 70%;
    margin:10%;
    padding:5%;
    background-color: white;
    border-radius: 3px;
    min-height: fit-content;
}

footer {
    background-color: black;
    color: white;
    width: 100%;
}

footer div {
    display: flex;
    width: 100%;
}

p {
    font-size: 1.75em;
    text-align: justify;
}

aside {
    min-width:fit-content;
    margin-top: 10%;
    margin-right: 2.5%;
    padding: auto;
    text-align: justify;
    font-size: 1.25em;
}

aside > form {
    margin: auto;
    justify-items: left;
    text-align: left;
    overflow-wrap: break-word;
}

aside > form > h2 {
    text-align: justify;
    font-size: 1.5em;
}

.article {
    height: 5%;
    background-color: #f2f2f2;
    box-shadow: -15px 15px 10px 2px #d2d2d2;
    font-size: 1em;
    max-height: 50%;
    max-width: 100%;
    padding-top:2.5%;
    padding-bottom: 2.5%;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 5%;
}

.article > div {
    display: flex;
    align-items: center;
    font-size: 0.75em;
}

.article h2 {
    font-size: 1em;
}

.article img {
    object-fit: cover;
    height:100px;
    padding:5%;
}

.logo {
    font-size: 2em;
    min-width:fit-content;
    height: 10%;
}

.main-content-headers {
    font-size: 1.75em;
}

.navbutton{
    color: white;
    text-decoration: none;
    padding: 12px;
    font-size: 2em;
}

.list-ul > li {
    list-style: none;
    font-size: 2em
}

.see-more-articles {

    text-align: right;
}

#nav-ul {
    display: flex;
    list-style: none;
}

#nav-ul > li {
    justify-content: space-evenly;
    padding: 8px;
}

#disclaimer {
    display: block;
    max-width: 80%;
    margin: auto;
    padding-bottom: 5%;
    text-align: center;
}

#disclaimer > h2 {
    font-size: 2em;
}

#disclaimer > p {
    text-align: center;
    font-size: 1.5em;
}